<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--importing files-->
    <script src="{{ url_for('static', filename='index_js.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_css.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/box.png') }}" type="image/png">
    <title>VirtualStore</title>
</head>
<body>
    
</body>
</html>